body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

.admin-panel {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.sidebar h1 {
  margin-bottom: 20px;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.sidebar a.active {
  background-color: #444;
}

.content {
  flex: 1;
  padding: 20px;
}

.content h2 {
  margin-bottom: 20px;
}

.table-container {
  overflow-x: auto;
  width: fit-content;
  margin: 0 auto;
}

table {
  width: 100%;
  white-space: nowrap;
}

.food-list {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.food-list h2 {
  margin-bottom: 10px;
}

.food-list ul {
  list-style-type: none;
  padding: 0;
}

.food-list li {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.food-list li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.food-list li strong {
  color: #333;
  font-weight: bold;
}

.food-list li span {
  color: #555;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}